@import '~antd/dist/antd.css';

.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
}


.last-msg-time-display {
    text-align: right;
    padding-right: 5px;
}

.message-area {
    background-color: rgb(243, 243, 243);
    height: 635px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.quick-reply {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 420px;
}

.message-item {
    background-color: rgb(216, 216, 216);
    margin-left: 10px;
    margin-right: 10px;
}

.tool-bar {
    height: 25px;
}

.reply-area {
    height: 180px;
}

.buttons {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.ant-button-default {
    background-color: gray !important;
}