@import '~antd/dist/antd.css';

.ant-avatar {
    margin-top: 4px;
    margin-left: 4px;
}

.unread-message {
    max-height: 100px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
}
